.full{
  background: linear-gradient(to bottom, #f0eded 0, #deefef 180%);
  border-radius: 10px;
  padding: 30px;
  margin: 120px;
  margin-left: 250px;
}ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}
*{
/* min-width: 25rem; */
max-width: 40rem;
}
img{
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 13rem;
  width:10rem;
  margin: 2rem;
  
}
.details{
  width: 100%;
   display: flex;
  flex-direction: column; 
  flex: 1 0;
  border-radius: 2rem;
  padding: 2rem;
  color: black;
  margin-left: 0.5rem;
}
.name{
  font-size: 1.5rem;
  font-weight: bold;
}
.content{
  display: flex;
  justify-content: space-between;
}
.price{
  font-size: 1.1rem;
  margin: 1rem 1rem 1rem 0;
  color: green;
}
.price::before{
  content: "Price:";
  color: darkgrey;
}
button{
  color: white;
  background-color: rgb(250, 132, 41);
  border: none;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 7rem;
  outline: none;
}
button:hover{
  cursor:pointer;
  opacity: .8;
}