<body>
  <div class="card">
      <div class="site">
          <h1>Register Yourself first</h1>
      </div>
      <!-- <h2>Register</h2> -->
      <form (ngSubmit)="onRegister()" #registerForm="ngForm">
        <div class="form-group">
          <label for="newUsername">Username:</label>
          <input type="text" id="newUsername" [(ngModel)]="newUsername" name="newUsername" required>
        </div>
        <div class="form-group">
          <label for="newPassword">Password:</label>
          <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>
        <div class="form-group but">
          <button type="submit" [disabled]="registerForm.invalid">Register</button>
        </div>
      </form>
      <div *ngIf="registerForm.submitted && registerForm.invalid" class="error-message">Please fill in all fields.</div>
      <div class="login-link">
        Already have an account? <a routerLink="/login">Login</a>
      </div>
    </div>
  </body>